In [1]:
#Q1
import pandas as pd
print(pd.__version__)

1.0.5

In [3]:
#Q2
import pandas as pd 
import numpy as np 
  
narr = np.array(['a', 'b', 'c', 'd', 'e']) 
  
ser = pd.Series(narr) 
print(ser)
print(type(ser))

0    a
1    b
2    c
3    d
4    e
dtype: object
<class 'pandas.core.series.Series'>

In [12]:
#Q3
food=pd.Series({1:'chapati',2:'dal',3:'ragiball',4:'jamun'})
print(food)
df=pd.DataFrame(food,columns=['varieties'])
df.reset_index(level=0, inplace=True) 
df

1     chapati
2         dal
3    ragiball
4       jamun
dtype: object

   index varieties
0      1   chapati
1      2       dal
2      3  ragiball
3      4     jamun

In [16]:
#Q4
import seaborn as sb
print(sb.get_dataset_names())

C:\ProgramData\Anaconda3\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\ProgramData\Anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

#Q5
USA

In [7]:
#Q6
import pandas as pd
data=pd.read_csv("USA_cars_datasets.csv")
d1=pd.DataFrame(data)
d1

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left