In [1]:
#Q1
import pandas as pd
print(pd.__version__)

1.0.5

In [3]:
#Q2
import pandas as pd 
import numpy as np 
  
narr = np.array(['a', 'b', 'c', 'd', 'e']) 
  
ser = pd.Series(narr) 
print(ser)
print(type(ser))

0    a
1    b
2    c
3    d
4    e
dtype: object
<class 'pandas.core.series.Series'>

In [12]:
#Q3
food=pd.Series({1:'chapati',2:'dal',3:'ragiball',4:'jamun'})
print(food)
df=pd.DataFrame(food,columns=['varieties'])
df.reset_index(level=0, inplace=True) 
df

1     chapati
2         dal
3    ragiball
4       jamun
dtype: object

   index varieties
0      1   chapati
1      2       dal
2      3  ragiball
3      4     jamun

In [16]:
#Q4
import seaborn as sb
print(sb.get_dataset_names())

C:\ProgramData\Anaconda3\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\ProgramData\Anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

#Q5
USA